/* Colors: 
BG: #F5F5F5
2nd: #BFE5E8
3rd: #364F6B
*/

body {
  background-color: #f5f5f5;
}

.navbar {
  background-color: #364f6b;
}

.logo {
  font-family: "Amatic SC", cursive;
  font-size: calc(3vw + 5vh);
  color: #f5f5f5;
}

.message {
  font-family: 'Pacifico', cursive;
  font-size: calc(1vw + 0.75vh);
  color: #f5f5f5;
}

.logo-overlay { 
  color:#fff;
  position:absolute;
  z-index:2;
  top:4.75%;
  left:0;
  width:100%;
  text-align:center;
}

.header-carousel {
  border: 1px solid #364f6b;
  height: 100vh;
  max-height: 25vh;
  min-height: 25vh;
  max-width: 100vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.black-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #364f6b;
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

