/* 
Deep blue and tan – color palette
Sand Tan: #e1b382
Sand Tan Shadow: #c89666
Night Blue: #2d545e
Night Blue Shadow: #12343b 
*/

body {
  background-color: #f5f5f5;
  max-width: 1920px; /* Tämän voi tarvittaessa poistaa*/
  margin: 0 auto; /* Tämän voi tarvittaessa poistaa*/
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-image: linear-gradient(#c89666, #12343b);
  border-color: #c89666;
}
.btn-primary:hover {
  background-image: linear-gradient(#2d545e, #12343b);
}

.navbar {
  /* background-color: #12343b; */
  background-image: linear-gradient(#12343b, #2d545e);
}

.logo {
  font-family: "Amatic SC", cursive;
  /* font-size: calc(3vw + 5vh); */
  font-size: clamp(3vw, calc(3vw + 5vh), 102px);
  color: #f5f5f5;
}

.logo-overlay { 
  color:#fff;
  position:absolute;
  z-index:2;
  top:4.5%;
  left:0;
  width:100%;
  text-align:center;
}

.message {
  font-family: 'Pacifico', cursive;
  /* font-size: calc(1vw + 0.75vh); */
  font-size: clamp(1vw, calc(1vw + 1.5vh), 24px);
  color: #f5f5f5;
  position:absolute;
  top:85%;
  left:0;
  width:100%;
  text-align:center;
}

.header-carousel {
  height: 100vh;
  max-height: 25vh;
  min-height: 25vh;
  max-width: 100vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: .6s;
	transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
	opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
	opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
	transform: translateX(0);
	transform: translate3d(0, 0, 0);
}

.black-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #364f6b;
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a.list-group-item:hover{
  font-weight: 500;
  }
